---

---

<section
    class="flex flex-col items-center gap-8 p-10 bg-purple-50 md:py-20"
    id="sobremi">
    <h2 class="text-3xl font-bold text-purple-600">Sobre mí</h2>
    <p class="text-2xl text-center text-gray-900 font-semibold max-w-[1000px]">
        Soy un desarrollador frontend de tan solo 11 años de edad, residente en
        Colombia. Mi pasión por la programación me impulsa a crear experiencias
        web de calidad. A pesar de mi corta edad, estoy decidido a seguir
        aprendiendo y mejorando en este campo, contribuyendo al emocionante
        mundo del desarrollo web.
    </p>
</section>
