---
import { IconBrandGithub } from "@tabler/icons-react";
---

<footer
    class="h-60 bg-purple-600 flex flex-col items-center justify-between py-10 lg:flex-row lg:px-32 lg:h-40">
    <h2 class="text-white font-extrabold text-4xl">@bunyCode</h2>
    <nav class="flex gap-5">
        <a
            href="/#proyectos"
            class="text-white font-bold text-lg hover:text-[#1f2937] duration-300"
            >Proyectos</a
        >
        <a
            href="/#sobremi"
            class="text-white font-bold text-lg hover:text-[#1f2937] duration-300"
            >Sobre Mi</a
        >
        <a
            href="/#tecnologias"
            class="text-white font-bold text-lg hover:text-[#1f2937] duration-300"
            >Tecnologias</a
        >
    </nav>
    <a
        href="https://github.com/bunycode"
        target="_blank"
        rel="noopener noreferrer"
        class="border-solid border-[#161d26] border-2 p-3 rounded-3xl flex gap-2 text-[#161d26] font-bold hover:bg-purple-900 hover:text-white hover:border-purple-900 duration-300"
        ><IconBrandGithub />Abrir github</a
    >
</footer>
